{% extends 'blog/base.html' %}

{% block content %}
    <a href="{% url 'blog:post_search' %}" class="button"> Search posts</a>
    <a href="{% url 'blog:post_create' %}" class="button">Add post</a>
    {% for post in posts %}
        <div class="post">
            <header>
                <h2 class="post-title"><a href="{% url 'blog:post_detail' post.pk %}">{{ post.title }}</a></h2>
            </header>
            <p class="post-content list">{{ post.content }}</p>
            <p class="post-author">Author: {{ post.author }}</p>
        </div>
    {% endfor %}
{% endblock %}
