{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
    <a href="{% url 'blog:post_list' %}" class="button">Go back</a>
        <header>
            <h2 class="post-title">{{ post.title }}</h2>
        </header>
        <p class="post-content">{{ post.content }}</p>
        <p class="post-author">Author: {{ post.author }}</p>
        {% if post.image %}
            <img height="400px" src="{{ post.image.url }}" alt="{{ post.title }}">
        {% endif %}
        <h3 class="post-comments">Comments:</h3>
        {% for comment in post.comments.all %}
            <p class="post-comment-content">{{ comment.content }}</p>
            <p class="post-comment-author">Author: {{ comment.author }}</p>
        {% empty %}
            <p class="post-commment-empty">No comments yet.</p>
        {% endfor %}
        <a href="{% url 'blog:comment_create' post.pk %}" class="button">Add Comment</a>
    </div>
{% endblock %}
